html {
  overflow-x: hidden;
}

body {


  padding-top: 70px;
   font-family: 'Vollkorn', serif;
   font-size: 16px;
   background: rgb(248,248,248);

    }

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
    font-family: 'Vollkorn', serif;
}


h3 {
    font-family: 'Vollkorn', serif;
    margin:6px;
    font-size: 40px;
    color: rgb(40,40,40);

}

@media screen and (max-width: 568px) {
    h3 {
        font-size: 30px;
}
}



p {
    font-family: 'Vollkorn', serif;
}


.navbar {
background: rgb(232,232,232);
margin: 0;
display: table;
width: 100%;

}

.jumbotron {
background-image: url("/citypic.png")
}



.navbar-brand {

padding-top: 0px;
padding-left: 225px;

}

@media screen and (max-width: 568px) {
.navbar-brand {

padding-left: 40px;
}
}

#bs-example-navbar-collapse-1 {
margin-right: 225px;
}

#aboutme {
padding-left: 25px;
}

#myblog {
padding-left: 25px;
padding-bottom:25px;
}

#navimage {
height: 50px;
width: 300px;
}

.col-centered{
float: none;
margin: auto auto;
}

a.class1:link {
    color: #333;
}

a.class1:visited {
    color: #333;
}

a.class1:hover {
    color: #333;
}

a.class1:active {
    color: #333;
}

