html {
  overflow-x: hidden;
}

body {


  padding-top: 70px;
   font-family: Arial, sans-serif;

    }

#container1 {

    margin: auto auto;
    width: 965px;

}


h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
background: #FFFFFF;
margin: 0;
display: table;
width: 100%;

}

.jumbotron {
background-image: url("/citypic.png")
}



.navbar-brand {
padding-top: 0px;
padding-left: 85px;

}

#bs-example-navbar-collapse-1 {
margin-right: 100px;
}

#aboutme {
padding-left: 25px;
}

#myblog {
padding-left: 25px;
padding-bottom:25px;
}

#navimage {
height: 50px;
width: 300px;
}