---
layout: default
is_post: true
---
<div class="mrt-section" >
  <h1>{{ page.title }}</h1>


  <div class="meta">
    <div class="date">
      {{ page.date | date_to_string }}
    </div>
    {% if page.tags.size > 0 %}
      <div class="tags">
        {% for tag in page.tags %}
          <a href="/tags.html#{{ tag }}">{{ tag }}</a>&nbsp;
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="post">
      <hr>
  {{ content }}
  </div>
</div>

 <hr>

<h2>Share</h2>
         <a href="https://twitter.com/share" class="twitter-share-button" data-via="dkarrow">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<h3>Comments? Get in touch with me.</h3>

 <a href="http://www.twitter.com/dkarrow"><img src="/img/twitter.png"></a>
           <a href="mailto:davekarrow@gmail.com"><img src="/img/email.png"></a>
           <a href="https://www.linkedin.com/pub/david-karrow/2/827/536"><img src="/img/linkedin.png"></a>
           <a href= aim:goIM?screenname=dlkarrow><img src="/img/aim.png"></a>


